#nav-list{display:none;}
.box{margin:30px auto!important;}
body{
	font-size: 16px;
	color: #fff;
	background-color: #61122f;
}
.headd{font-size:30px;color: #61122f;font-weight: bold;}
#header-nav{
	background-color: #f6b319;
	border-radius: 0;
	border: 0; 
}
.container{
	width: 100%;
}
.navbar-brand{
	margin: auto;
}
.navbar-brand h1{
	font-size: 1.5em;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-left: 0;
}
.navbar-brand a.hover,.navbar-brand a.focus{
	text-decoration: none; 
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 1px solid #61122f;
}
#nav-list{
	margin: auto;
}
#nav-list a{
	color: #951C49;
}
#nav-list span.hover{
	background: #E7E7E7; 
}
#nav-list a span{
	font-size: 1.8em;
}
.mainheader{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
.box{
	background-color: #9c9994;
    margin: auto;
    padding:20px 0px 20px 0px;
    border:1px solid black;
}
.subhead-1{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}
.subhead-2{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}
.subhead-3{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;}
@media only screen and (max-width: 768px) {
/* For mobile phones: */
#nav-list{display:block;}
  }